.btn-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top:20px;
    right:20px;
    width:50px;
    height:50px;
    background: #333;
    border: 1px solid #333;
    color: #F1f1f1;
    border-radius: 50%;
}

.btn-toggle.goLight{
    background: #333;
    color: #F1f1f1;
        
    border: 1px solid #F1F1F1;
}
.btn-toggle.goDark{
    background: #F1f1f1;
    color: #333;
    border: 1px solid #333;
}