
.dark {
  background-color: rgb(24, 24, 24);
  color: #fff;
  height: 100vh;
  transition: all 0.3s;
}
.dark a{
  color: rgb(91, 138, 173)
}

.light {
  background-color: #ffffff;
  color: rgb(24, 24, 24);
  height: 100vh;
  transition: all 0.3s;
}
