
.dark {
  background-color: rgb(24, 24, 24);
  color: #fff;
  height: 100vh;
  transition: all 0.3s;

}

.light {
  background-color: #ffffff;
  color: rgb(24, 24, 24);
  height: 100vh;
  transition: all 0.3s;
}
